<header class="row">
  <h1 class="text-center col-md-4 col-md-offset-4">View and edit property</h1>
</header>
<form class="form-horizontal" name="propertyForm" role="form" class="edit-user" novalidate>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="Name" class="col-md-2 control-label col-md-offset-2">
      Name
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Spatious Apartment" ng-model="property.name" ng-minlength="10"
      ng-maxlength="60">
      <span ng-show="propertyForm.name.$error.maxlength" class="help-block">Shouldn't be over 60 characters.</span>
      <span ng-show="propertyForm.name.$error.minlength" class="help-block">Should be at least 10 characters.</span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="description" class="col-md-2 control-label col-md-offset-2">
      Description
    </label>
    <div class="col-md-5">
      <textarea name="description" type="text" class="form-control" ng-model='property.description' placeholder="New apartment, located at..."
      ng-minlength="10" ng-maxlength="200">
      </textarea>
      <span ng-show="propertyForm.description.$error.maxlength" class="help-block">Shouldn't be over than 200 characters.</span>
      <span ng-show="propertyForm.description.$error.minlength" class="help-block">Should be at least 10 characters.</span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="address" class="col-md-2 control-label col-md-offset-2">
      Address
    </label>
    <div class="col-md-5">
      <textarea name="address" type="text" class="form-control" ng-model='property.address' placeholder="25" ng-minlength='10'
      ng-maxlength="255">
      </textarea>
      <span ng-show="propertyForm.address.$error.maxlength" class="help-block">Shouldn't be over 255 characters.</span>
      <span ng-show="propertyForm.address.$error.minlength" class="help-block">Should be at least 10 characters.</span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="property_type" class="col-md-2 control-label col-md-offset-2">
      Type
    </label>
    <div class="col-md-5">
      <select name="property_type" class="form-control" ng-model='property.property_type' type="text" required>
        <option value="City">City</option>
        <option value="Vacation">Vacation</option>
      </select>
      <span ng-show="propertyForm.property_type.$error.required" class="help-block">Choose one.</span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="floor" class="col-md-2 control-label col-md-offset-2">
      Floor
    </label>
    <div class="col-md-1">
      <input name="floor" class="form-control form-control-sm" ng-model='property.floor' type="number" min="0" placeholder="5">
    </div>
    <span ng-show="propertyForm.floor.$error.min" class="help-block">Should be 0 or higher.</span>
  </div>

  <div class="form-group">
    <div class="col-md-2 text-right col-md-offset-2">
      <button class="btn btn-default" ng-click="back()">&larr; Back</button>
    </div>
    <div class="col-md-2 text-right col-md-offset-3">
      <button class="btn btn-primary" ng-click="save()"> Save </button>
      <button class="btn btn-info" ng-click="cancel()"> Cancel</button>
      <button class="btn btn-danger" ng-if="property.id" ng-click="delete()"> Delete</button>
    </div>
  </div>
  </section>

  <aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
      {{flash.message}}
    </article>
  </aside>

</form>