<!DOCTYPE html>
<html>
<head>
  <title>Pms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="container col-md-12 text-center">
  <p>PMS Sample @ RoR |
    <a href="https://github.com/apmats">apmats</a> |
    <a href="https://github.com/">Repo</a> |
    <a href="/about">About</a>
  </p>
</div>
</body>
</html>
