<!DOCTYPE html>
<html>
<head>
  <title>Pms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="footer">
<div class="container col-md-12 text-center">
  <p>PMS Sample @ RoR |
    <a href="https://github.com/apmats">apmats</a> |
    <a href="https://github.com/Apmats/property_management_system_ngRoR_sample">github repo</a> |
  </p>
</div>
</footer>
</body>
</html>
